$colors: (
    primary: red,
    secondary: #005DFF,
);


@function color($color) {
  @return map-get($colors, $color);
}


body, html {
  height: 100%;
}

body {
  background-color: color(primary);

  main#test {
    p {
      background-color: color(secondary);
    }
    
  }
}